/*
About me tab
*/

.Person { 
	max-width: 960px; 
	margin: 0 auto !important; 
	float: none !important; 
}

.Person-info img {
  border-radius: 80%;
  height: 15em;
  width: auto;
  animation: fadeIn 1s ease;
}

.Person-header {
  text-align: center;
  font-family: arial;
  animation: fadeIn 1s ease;
  padding: 1%;
}

.Person-info {
  text-align: center;
  padding: 1%;
  font-weight: bold;
  animation: fadeIn 2s ease;
  overflow: auto;
}

.Person-desc {
  padding: 1em;
  font-family: arial;
  display:block;
  animation: fadeIn 1s ease;
}

.Person-exp{
  padding: 1em;
  font-family: arial;
  font-size:1em;
  animation: fadeIn 1s ease;
}

.Person-exp-entry{
  padding: 0.15em;
} 

.MuiCard-root {
  padding: 1rem;
  display: block;
}

.ButtonHeader {
  text-align: center;
  font-family: monospace;
}

/* Books tab */

.Books { 
	max-width: 960px;
	margin: 0 auto !important; 
	float: none !important; 
}

.Books-list img {
  height: 12rem;
  width: 12rem;
  animation: fadeIn 1s ease;
}

.Book-entry{
  padding: 0.5rem 0rem 0.5rem 0rem;
}

/* Page elements */

.Links img {
  height: 3.1em;
  width: 3.1em;
  padding: 0.5rem;
}

h3 {
  margin: 0% 0% 1.5%;
  text-align: center;
}

.Links {
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

ul{
  list-style-type: none;
}

#exp{
  font-weight: bold;
}

div {
  white-space: pre-wrap;
} 

/* Tabs */

ul.react-tabs__tab-list{
  background-color: #003891;
  color: white;
  animation: fadeIn 1s ease;
  font-family: arial;
  font-weight: bold;
  margin:0;
  padding-left: 0;
}

.react-tabs__tab{
  font-size: 1.5em;
  display: inline-block;
  cursor: pointer;
  padding: 0.25em;
  margin-left: 0;
  opacity: 0.5;
}

.react-tabs__tab--selected{
  background: #003891;
  color: white;
  opacity: 1;
}

/* Animation */

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
