.Person-info img {
  border-radius: 75%;
  height: 16em;
  width: 18.5em;
  float: left;
  padding: 1em;
  margin: -4% 0%;
  animation: fadeIn 1s ease;
}

.footer img {
  height: 3.1em;
  width: 3.1em;
  padding: 2px;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.Person-header {
  text-align: right;
  font-family: arial;
  padding: 1em;
  background-color: #003891;
  color: white;
  animation: fadeIn 1s ease;
}

.Person-info {
  text-align: right;
  padding: 1em;
  font-weight: bold;
  animation: fadeIn 2s ease;
}

.Person-desc {
  padding: 1em;
  font-family: arial;
  font-size:1.2em;
  display:block;
  border-top:3px solid #043a91;
  border-bottom:3px solid #043a91;
  animation: fadeIn 1s ease;
}

h3 {
  margin: 0% 0% 1.5%;
}

.footer {
  background-color: #003891;
  position:relative;
  bottom:0;
  width:100%;
  height:60px;
  animation: fadeIn 1s ease;
  vertical-align: middle;
  text-align: center;
}

ul{
  list-style-type: none;
}

.Person-exp{
  padding: 1em;
  font-family: arial;
  font-size:1.2em;
  animation: fadeIn 1s ease;
}

.Person-exp-entry{
  padding: 0.15em;
  border-top:2px solid #043a91;
  border-bottom:2px solid #043a91;
}

#exp{
  font-weight: bold;
}

ul.react-tabs__tab-list{
  background-color: #003891;
  color: white;
  animation: fadeIn 1s ease;
  font-family: arial;
  font-weight: bold;
  margin:0;
  padding-left: 0;
}

.react-tabs__tab{
  font-size: 1.5em;
  display: inline-block;
  cursor: pointer;
  padding: 0.25em;
  margin-left: 0;
  opacity: 0.65;
}

.react-tabs__tab--selected{
  background: #7861ff;
  color: white;
  opacity: 1;
}